.brand-section {
    margin: 30px;
    margin-bottom: 0;
}

.brand-box-1 {
    height: 125px;
    line-height: 125px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    background-color: $white;

    .brand-img-1 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
        opacity: 0.4;
        transition: all 0.6s ease; // smooth animation
        transform: translateY(0);
        }

        &:last-child img {
        transform: translateY(-350%);
        opacity: 0;
        }
    }

    &:hover {
        .brand-img-1:first-child img {
        transform: translateY(100%);
        opacity: 0;
        }

        .brand-img-1:last-child img {
        transform: translateY(0);
        opacity: 1;
        }
    }
}



.brand-slider {

    &.style-2 {
        margin-top: 120px;

        @include breakpoint (max-xxl) {
            margin-top: 100px;
        }

        @include breakpoint (max-lg) {
            margin-top: 80px;
        }

        .brand-box-1 {
            background-color: transparent;
            border: 1px solid rgba(255, 255, 255, 0.1);

            .brand-img-1 {
               
                img {
                  opacity: 0.4;
                  transition: all 0.6s ease; 
                  transform: translateY(0);
                }

                &:last-child img {
                  transform: translateY(-350%);
                  opacity: 0;
                  
                }
            }

            &:hover {
                .brand-img-1:first-child img {
                transform: translateY(100%);
                opacity: 0;
                }

                .brand-img-1:last-child img {
                transform: translateY(0);
                opacity: 1;
                }
            }
        }
    }
}

.brand-section-4 {
    margin:  0 30px 30px;

     @include breakpoint (max-xxl) {
        margin-bottom: 100px;
    }

     @include breakpoint (max-lg) {
        margin-bottom: 80px;
    }
}