.hero-1 {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding: 175px 0 100px;
    position: relative;
    overflow: hidden;
    z-index: 9;
    margin-top: 50px;

    @include breakpoint (max-xxl){
        padding-top: 180px;
        margin-top: 0;
        padding-bottom: 100px;
    }

    @include breakpoint (max-lg){
       padding-top: 130px;
       padding-bottom: 80px;
    }

    .hero-content {
        margin-bottom: 115px;

        @include breakpoint (max-xl){
          margin-top: 0;
          margin-bottom: 30px;
        }

        h6 {
            font-size: 14px;
            font-weight: 700;
            color: $white;
            opacity: 0.8;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(16px);
            padding: 6px 9px;
            display: inline-block;
            border-radius: 100px;

            img {
                margin-right: 5px;
                margin-top: -5px;
            }
        }

        h1 {
            color: $white;
            margin-bottom: 20px;
            margin-top: 20px;
        }

        p {
            line-height: 155.556%;
            color: $white;
            max-width: 464px;
        }

        .hero-btn {
            @include flex;
            gap: 20px;
            margin-top: 30px;

             @include breakpoint (max-md){
                margin-top: 25px;
                flex-wrap: wrap;
            }

            .theme-btn {
                &.style-2 {
                    background-color: rgba(255, 255, 255, 0.1);

                    &::before {
                        background-color: $theme-color;
                    }

                    &:after {
                        background-color: rgba(249, 77, 0, 0.3);
                    }
                }
            }
        }
    }

    .hero-image {
        position: relative;
        text-align: center;
        max-width: 526px;
        margin-left: 110px;

        @include breakpoint (max-xxl){
            max-width: initial;
            margin-left: 0;
        }

        img {
            border-radius: 16px;
            @include imgw;
            transition: transform 0.1s ease-out;

            @include breakpoint (max-xl){
                margin-left: 0;
                width: 100%;
            }
        }

        .video-circle {
            width: 160px;
            height: 160px;
            line-height: 160px;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(16px);
            text-align: center;
            z-index: 2;
            position: absolute;
            right: -80px;
            top: 12%;

            @include breakpoint (max-xl){
               display: none;
            }

             img {
                width: initial;
                height: initial;
            }

            .text-circle{
                animation: cir36 10s linear infinite;
            }

            .ripple {
                 &::before,&::after {
                    width: 72px;
                    height: 72px;
                    box-shadow: 0 0 0 0 rgba(249, 77, 0, 0.5);
                }
            }

            .video-btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                background-color: $theme-color;
                color: $white;
                text-align: center;
                width: 72px;
                height: 72px;
                line-height: 72px;
                text-align: center;
                display: inline-block;
                border-radius: 50%;
                z-index: 9;

                &:hover {
                    background-color: $white;
                    color: $header-color;
                }
            }

            img {
                margin-left: 0;
            }
        }

        .box {
            padding: 30px;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(16px);
            position: absolute;
            bottom: 60px;
            margin-left: -180px;
            text-align: left;
            border-radius: 8px;

            @include breakpoint (max-xl){
               display: none;
            }

            .group-image-item {
                @include flex;

                .group-image {

                     img {
                        margin-left: 0;
                        width: initial;
                        height: initial;
                        border: 2px solid $white;
                        border-radius: 100px;
                    }

                    &.style-2 {
                        margin-left: -15px;
                    }
                }

                .icon {
                    width: 52px;
                    height: 52px;
                    line-height: 52px;
                    text-align: center;
                    border-radius: 100px;
                    color: $white;
                    border: 2px solid $white;
                    margin-left: -15px;
                    background-color: $header-color;
                }
            }

            h4 {
                color: $white;
                margin-top: 10px;
            }
        }
    }
}

.hero-2 {
    padding: 200px 0 30px;
    position: relative;

    @include breakpoint (max-xxl) {
        padding: 170px 0 100px;
    }

    @include breakpoint (max-lg) {
        padding: 150px 0 80px;
    }

    .hero-content {
        margin-bottom: 120px;

        @include breakpoint (max-xxl) {
            margin-bottom: 30px;
        }

        h1 {
            color: $white;
        }

        p {
            color: #FFFFFF;
            opacity: 0.7;
            max-width: 470px;
            margin-top: 20px;
        }
    }

    .container-fluid {
        padding: 0 30px;

        @include breakpoint (max-lg) {
            padding: 0 15px;
        }
    }

    .hero-imagee {
        position: relative;
        overflow: hidden;
        border-radius: 16px;

        img {
            @include imgw;
            border-radius: 16px;
        }
    }

    .hero-box {
        background-color: $theme-color;
        border-radius: 10px;
        padding: 30px;
        position: absolute;
        right: 265px;
        top: 400px;
        z-index: 999;

        @include breakpoint (max-xxl) {
          display: none;
        }

        .top-item {
            @include flex;
            justify-content: space-between;
            margin-bottom: 20px;

            .group-image-item {
                @include flex;

                .group-image {

                     img {
                        margin-left: 0;
                        width: initial;
                        height: initial;
                        border: 2px solid $white;
                        border-radius: 100px;
                    }

                    &.style-2 {
                        margin-left: -15px;
                    }
                }

                .icon {
                    width: 52px;
                    height: 52px;
                    line-height: 52px;
                    text-align: center;
                    border-radius: 100px;
                    color: $white;
                    border: 2px solid $white;
                    margin-left: -15px;
                    background-color: $header-color;
                }
            }

            h2 {
                color: $white;
            }
        }

        h3 {
            max-width: 346px;
            color: $white;
            margin-bottom: 40px;
        }

        .theme-btn {
            background-color: $header-color;

            &::before {
                background-color: $white;
            }

            &:after {
                background-color: rgba(255, 255, 255, 0.3);
            }

            &:hover {
                color: $header-color;
            }
        }
    }
}

.hero-3 {
    padding: 250px 0 130px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    @include breakpoint (max-xxl) {
        padding: 180px 0 120px;
    }

    @include breakpoint (max-lg) {
        padding: 150px 0 100px;
    }

    .hero-content {
        margin-left: 50px;

         @include breakpoint (max-xxl) {
            margin-left: 0;
        }

        h1 {
            color: $white;
            font-size: 130px;
            font-weight: 600;

             @include breakpoint (max-xxl) {
                font-size: 50px;
            }

             @include breakpoint (max-lg) {
                font-size: 45px;
            }

            @include breakpoint (max-md) {
                font-size: 40px;
            }


             @include breakpoint (max-sm) {
                font-size: 35px;
            }

            span {
                display: inline-block;
                margin-left: 450px;

                 @include breakpoint (max-xxl) {
                    margin-left: 0;
                }
            }
        }

        p {
            color: rgba(255, 255, 255, 1);
            max-width: 427px;
            margin-left: 450px;
            margin-top: 20px;

             @include breakpoint (max-xxl) {
                margin-left: 0;
            }
        }

        .hero-btn {
            @include flex;
            gap: 20px;
            margin-top: 20px;
            margin-left: 450px;
            

             @include breakpoint (max-xxl){
                margin-top: 25px;
                flex-wrap: wrap;
                margin-left: 0;
            }

            .theme-btn {
                &.style-2 {
                    background-color: rgba(255, 255, 255, 0.1);

                    &::before {
                        background-color: $theme-color;
                    }

                    &:after {
                        background-color: rgba(249, 77, 0, 0.3);
                    }
                }
            }
        }
    }
}

.hero-4 {
    padding: 190px 0 100px;
    position: relative;
    z-index: 9;

     @include breakpoint (max-xxl) {
        padding: 170px 0 100px;
    }

     @include breakpoint (max-lg) {
        padding: 150px 0 80px;
    }

    .hero-shape {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;

         @include breakpoint (max-xxl) {
            display: none;
        }
    }

    .hero-content {
        text-align: center;

        .sub {
            font-size: 14px;
            font-weight: 700;
            color: $header-color;
            opacity: 0.8;
            background: $white;
            padding: 6px 9px;
            display: inline-block;
            border-radius: 100px;
            line-height: 1;
            margin-bottom: 20px;
            font-family: $heading-font;
            text-transform: uppercase;

            img {
                line-height: 1;
                margin-right: 5px;
                margin-top: -3px;
            }
        }

        h1 {
            font-size: 90px;
            margin-bottom: 30px;
            line-height: 109%;

             @include breakpoint (max-xxl) {
                font-size: 55px;
            }

             @include breakpoint (max-lg) {
                font-size: 45px;
            }

             @include breakpoint (max-md) {
                font-size: 35px;
            }

            span {
                color: rgba(249, 77, 0, 1);
            }

            b {
                color: rgba(255, 194, 167, 1);
                font-weight: 600;
            }
        }

        p {
            max-width: 666px;
            margin: 0 auto;
        }

        .hero-button {
            @include flex;
            gap: 15px;
            justify-content: center;
            margin-top: 30px;

             @include breakpoint (max-md) {
                flex-wrap: wrap;
            }

            .theme-btn {
                &.style-btn {
                    background-color: $white;
                    color: $header-color;

                    &::before {
                        background-color: $theme-color;
                        border-radius: 8px;
                    }

                    &:after {
                        background-color: rgba(249, 77, 0, 0.3);
                        border-radius: 8px;
                    }

                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
}