.pricing-box-items {
    margin-top: 30px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px);
    padding: 50px 30px;
    position: relative;

    .nexella-hover-bx {
        background: $theme-color;
        height: 100%;
        top: 0;
        opacity: 0;
        position: absolute;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        width: 25%;
        z-index: -1;
        
    }

    .hover-bx {
        left: 0;
        -webkit-transition-delay: 0.105s;
        transition-delay: 0.105s;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .hover-bx2 {
        left: 25%;
        -webkit-transition-delay: 0.105s;
        transition-delay: 0.105s;
    }

    .hover-bx3 {
        left: 50%;
        -webkit-transition-delay: 0.105s;
        transition-delay: 0.105s;
    }

    .hover-bx4 {
        left: 75%;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        border-top-right-radius: 8px;
         border-bottom-right-radius: 8px;
    }

    .pricing-header {
        margin-bottom: 30px;

        span {
            font-size: 20px;
            font-weight: 500;
            text-transform: capitalize;
            display: inline-block;
            margin-bottom: 20px;
            color: $white;
        }

        h3 {
            font-size: 48px;
            font-weight: 600;
            color: $white;
            line-height: 1;
            margin-bottom: 25px;

            @include breakpoint (max-xxl){
                font-size: 55px;
            }

            sub {
                font-size: 16px;
                font-weight: 500;
                color: rgba(255, 255, 255, 1);
                opacity: 0.8;
                letter-spacing: initial;
                margin-left: -12px;
            }
        }

        p {
            color: #FFFFFF;
            opacity: 0.8;
        }
    }

    .theme-btn {
        background-color: $white;
        width: 100%;
        color: $header-color;
        display: inline-block;
        border-radius: 8px;

        @include breakpoint (max-xxl) {
            margin-top: 30px;
        }

            &::before {
            background-color: $header-color;
                border-radius: 8px;
        }

        &:after {
            background-color: rgba(11, 13, 23, 0.3);
                border-radius: 8px;
        }

        &:hover {
            color: $white;
        }
    }

    .pricing-list {
        margin-top: 30px;

        h5 {
            font-size: 14px;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);

            @include breakpoint (max-xl){
                letter-spacing: inherit;
            }
        }

        ul {
            margin-top: 20px;

            li {
                color: #FFFFFF;
                opacity: 0.8;
                font-size: 16px;
                font-weight: 500;
                line-height: 162.5%;
                letter-spacing: -1px;
                @include flex;
                gap: 8px;

                i {
                    font-size: 18px;
                    color: $theme-color;
                }

                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
        }
    }

    &:hover {
        .nexella-hover-bx {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        .pricing-list {
            ul {
                li {
                    i {
                        color: $white;
                    }
                }
            }
        }
    }

    &.style-inner {
        background-color: $header-color;
    }
}

.pricing-section-2 {
    margin: 0 30px;
    border-radius: 16px;

    @include breakpoint (max-sm) {
        margin: 0 15px;
    }

    .section-title-area {
        .nav {
            display: inline-flex;
            align-items: center;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(16px);
            border-radius: 70px;
            padding: 10px;

            .nav-item {
                
                .nav-link {
                    padding: 0;
                    border: none;
                    font-size: 16px;
                    font-weight: 700;
                    font-family: $heading-font;
                    text-transform: capitalize;
                    color: $white;
                    padding: 12px 32px;
                    border-radius: 70px;

                    @include breakpoint (max-sm){
                        padding: 12px 15px;
                    }

                    &.active {
                        background-color: $theme-color;
                        color: $white;
                    }
                }
            }
        }
    }
}

.pricing-card-items-3 {
    padding: 50px 30px;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(16px);
    border-radius: 12px;
    position: relative;

     @include breakpoint (max-xxl) {
       padding: 30px;
    }

    .nexella-hover-bx {
        background: $theme-color;
        height: 100%;
        top: 0;
        opacity: 0;
        position: absolute;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        width: 25%;
        z-index: -1;
        
    }

    .hover-bx {
        left: 0;
        -webkit-transition-delay: 0.105s;
        transition-delay: 0.105s;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .hover-bx2 {
        left: 25%;
        -webkit-transition-delay: 0.105s;
        transition-delay: 0.105s;
    }

    .hover-bx3 {
        left: 50%;
        -webkit-transition-delay: 0.105s;
        transition-delay: 0.105s;
    }

    .hover-bx4 {
        left: 75%;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
        border-top-right-radius: 8px;
         border-bottom-right-radius: 8px;
    }

    .pricing-header {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 30px;
        margin-bottom: 30px;

        h3 {
            color: $white;
            margin-bottom: 20px;
        }

        h2 {
            color: $white;

            span {
                font-size: 18px;
                font-weight: 500;
                color: rgba(255, 255, 255, 0.7);
            }
        }

        p {
            color: rgba(255, 255, 255, 0.7);
            max-width: 360px;
        }
    }

     .pricing-list {
        margin-bottom: 40px;

       li {
            color: rgba(255, 255, 255, 0.7);
            font-size: 16px;
            font-weight: 500;
            line-height: 162.5%;
            letter-spacing: -1px;
            @include flex;
            gap: 8px;

            i {
                font-size: 18px;
                color: $theme-color;
            }

            &:not(:last-child){
                margin-bottom: 15px;
            }
        }
    }

    .theme-btn {
        background-color: $white;
        width: 100%;
        color: $header-color;
        display: inline-block;
        border-radius: 8px;

            &::before {
              background-color: $header-color;
              border-radius: 8px;
        }

        &:after {
            background-color: rgba(11, 13, 23, 0.3);
            border-radius: 8px;
        }

        &:hover {
            color: $white;
        }
    }

    &:hover {
        .nexella-hover-bx {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        .pricing-header {
            border-bottom: 1px solid $white;

            h2 {
                span {
                    color: $white;
                }
            }

            p {
                color: $white;
            }
        }

        .pricing-list {
            li {
                color: $white;

                i {
                    color: $white;
                }
            }
        }
    }
}

.pricing-section-3 {
    margin: 0 30px;
    border-radius: 20px;

    @include breakpoint (max-sm) {
        margin: 0 15px;
    }

    .nav-top {
        text-align: center;
        margin-bottom: 18px;

         @include breakpoint (max-sm) {
           margin-top: 30px;
        }

        .nav {
            display: inline-flex;
            align-items: center;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(16px);
            border-radius: 70px;
            padding: 10px;

            .nav-item {
                
                .nav-link {
                    padding: 0;
                    border: none;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: capitalize;
                    font-family: $heading-font;
                    color: $white;
                    padding: 12px 32px;
                    border-radius: 70px;

                    @include breakpoint (max-sm){
                        padding: 12px 15px;
                    }

                    &.active {
                        background-color: $theme-color;
                        color: $white;
                    }
                }
            }
        }
    }
}

.pricing-card-items-4 {
    background-color: $white;
    padding: 50px 30px;
    border-radius: 8px;
    margin-top: 30px;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $theme-color;
        border-radius: 10px;
        transform: scale(0.5);
        opacity: 0;
        z-index: 0;
        transition: all 0.4s ease-in-out;
    }

    @include breakpoint (max-xxl) {
        padding: 30px;
    }

    .pricing-header {
        margin-bottom: 25px;

        p {
            margin-top: 10px;
        }
    }

    .pricing-list {
        margin-bottom: 35px;

         @include breakpoint (max-xxl) {
            margin-bottom: 30px;
        }
        
        li {
            color: $header-color;
            font-weight: 500;
            position: relative;
            padding-left: 13px;

            &::before {
                position: absolute;
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 2px;
                background-color: rgba(249, 77, 0, 1);
                top: 10px;
                left: 0;
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    .theme-btn {
        background-color: rgba(239, 237, 229, 1);
        width: 100%;
        color: $header-color;
        display: inline-block;
        border-radius: 8px;

         &::before {
            background-color: $theme-color;
            border-radius: 8px;
        }

        &:after {
            background-color: rgba(249, 77, 0, 0.3);
            border-radius: 8px;
        }

        &:hover {
            color: $white;
        }
    }

    &:hover {
         &::before {
            transform: scale(1);
            opacity: 1;
        }

        .pricing-header {
            position: relative;
            z-index: 999;

            h3 {
                color: $white;
            }

            p {
                 color: $white;
            }
        }

        .pricing-list {
            li {
                color: $white;

                &::before {
                    background-color: $white;
                }
            }
        }
    }
}