
//>>>>> Section Title Start <<<<<//

.section-title {
	position: relative;
	z-index: 99;
	margin-bottom: 30px;


	@include breakpoint (max-md){
		margin-bottom: 0;

		br {
			display: none;
		}
	}

	.sub-title {
		font-size: 14px;
		font-weight: 700;
		color: $header-color;
		opacity: 0.8;
		background: $white;
		padding: 6px 9px;
		display: inline-block;
		border-radius: 100px;
		line-height: 1;
		margin-bottom: 20px;
		font-family: $heading-font;
		text-transform: uppercase;

		img {
			line-height: 1;
			margin-right: 5px;
			margin-top: -3px;
		}

		&.style-2 {
			background: rgba(255, 255, 255, 0.08);
			backdrop-filter: blur(16px);
		}

		&.style-3 {
			background: #EFEDE5;
			backdrop-filter: blur(16px);
		}
	}

	h2 {
		color: $header-color;
		
		span {
			color: rgba(15, 23, 42, 0.30);
		}

		br {
			@include breakpoint (max-xxl) {
				display: none;
			}
		}
	}
}

.section-title-area	{
	@include flex;
	justify-content: space-between;
	position: relative;
	z-index: 9;
	margin-bottom: 30px;

	@include breakpoint (max-md){
		margin-bottom: 0;

		br {
			display: none;
		}
	}

	p {
		br {
			@include breakpoint (max-xxl) {
				display: none;
			}
		}
	}
	.section-title {
		margin-bottom: 0;
	}

	
	@include breakpoint (max-lg) {
		flex-wrap: wrap;
		// justify-content: center;
		// text-align: center;
		gap: 30px;
	}

	// @include breakpoint (max-md) {
		
	// }
}




//>>>>> Section Title End <<<<<//

//>>>>> Basic Css Start <<<<<//

.center {
	text-align: center;
	margin: 0 auto;
}

.section-bg {
	background-color: $bg-color;
}


.section-padding {
	padding: 120px 0;

	@include breakpoint(max-xl){
		padding: 100px 0;
	}

	@include breakpoint(max-lg){
		padding: 80px 0;
	}
}


//>>>>> Basic Css End <<<<<//

