.service-box-item {
    background-color: $bg-color;
    padding: 30px;
    border-radius: 12px;
    position: relative;

    &::before {
        position:absolute;
        content:'';
        left:0px;
        top:0px;
        right:0px;
        bottom:0px;
        opacity:0;
        transform:scale(0.1,1);
        transition:all 500ms ease;
        -moz-transition:all 500ms ease;
        -webkit-transition:all 500ms ease;
        -ms-transition:all 500ms ease;
        -o-transition:all 500ms ease;
        background-color: $theme-color;
        border-radius: 12px;
    }

    .icon {
        width: 72px;
        height: 72px;
        line-height: 72px;
        text-align: center;
        background-color: $theme-color;
        border-radius: 100px;
        margin-bottom: 30px;
    }

    .content {

        h3 {
            margin-bottom: 10px;

            @include breakpoint (max-xxxl) {
                font-size: 22px;
            }

            @include breakpoint (max-lg) {
                font-size: 20px;
            }

            a {
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;
                
                &:hover {
                    color: $theme-color;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $theme-color 0%, $theme-color 100%);
                }
            }
        }

        .theme-btn {
            background-color: $white;
            width: 100%;
            color: $header-color;
            display: inline-block;
            margin-top: 120px;
            border-radius: 8px;

            @include breakpoint (max-xxl) {
                margin-top: 30px;
            }

             &::before {
                background-color: $header-color;
                 border-radius: 8px;
            }

            &:after {
                background-color: rgba(11, 13, 23, 0.3);
                 border-radius: 8px;
            }

            &:hover {
                color: $white;
            }
        }
    }

    &:hover {

        &:before {
            opacity:1;
	        transform:scale(1,1);
        }

        .content {
            h3 {
                position: relative;

                a {
                    color: $white;
                    background-position: 0 95%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    display: inline;
                    
                    &:hover {
                        color: $white;
                        background-size: 100% 2px;
                        background-image: linear-gradient(180deg, $white 0%, $white 100%);
                    }
                }
            }

            p {
                position: relative;
                color: $white;
            }
        }

        .icon {
            position: relative;
            background-color: $header-color;

            img {
                animation: jello 1s;
            }
        }
    }
}

.service-section {
    position: relative;

    &::before {
        @include before;
        background-color: $white;
        width: 1860px;
        left: 30px;
        border-radius: 16px;

        @include breakpoint (max-xl4) {
            width: 100%;
            left: 0;
        }
    }

    .service-slider {
        margin-left: -180px;
        margin-right: -180px;
        margin-top: 60px;

        @include breakpoint (max-xxl) {
            margin-left: 10px;
            margin-right: 10px;
        }

        @include breakpoint (max-sm) {
           margin-top: 30px;
        }
    }
}

.global-service-box {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(16px);
  padding: 50px 30px;
  @include flex;
  justify-content: space-between;
  border-radius: 6px;
  margin-top: 30px;
  position: relative;

  &.style-2 {
    margin-top: 48px;
  }

  @include breakpoint (max-xl){
    padding: 30px;
    flex-wrap: wrap;
    gap: 30px;
  }

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    opacity: 0;
    transform: scale(1, 0.3);
    background-color: $theme-color;
    transition: all 500ms ease;
    border-radius: 8px;
  }

  .global-content {
     flex-basis: 20%;
     position: relative;
     z-index: 9;

     @include breakpoint (max-xl){
       flex-basis: initial;
     }

    .content {
        display: flex;
        gap: 15px;

        span {
          font-size: 16px;
          font-weight: 600;
          opacity: 0.2;
          line-height: 1;
          color: $white;
          opacity: 0.4;
        }

        h3 {
         text-transform: capitalize;
         line-height: 90%;

        a {
            color: $white;

            &:hover {
             color: $white;
            }
          }
        }
     }
  }

  .text {
    color: rgba(255, 255, 255, 0.8);
    max-width: 395px;
    position: relative;
    z-index: 9;
  }

  .icon {
    display: inline-block;
    color: $white;
    opacity: 0.3;
    font-size: 20px;
    position: relative;
    z-index: 9;
    transition: all 0.3s ease;

    &:hover {
      color: $white;
    }
  }

 

  &:hover {

    &::before {
      opacity: 1;
      transform: scale(1, 1);
    }

    .global-content {

        .content {
            span {
                color: $white;
                opacity: initial;
            }
        }
    }

    .text {
        color: $white;
    }

    .icon {
        color: $white;
        opacity: initial;
    }
  }
}

.service-section-2  {
    margin: 0 30px;
    border-radius: 16px;

    @include breakpoint (max-sm) {
        margin: 0 15px;
    }
}

.service-card-items-3 {
    margin-top: 30px;
    background-color: $white;
    padding: 30px;
    border-radius: 10px;

    .service-image {

        img {
            @include imgw;
            border-radius: 8px;
        }
    }

    .service-content {
        margin-top: 30px;

        h3 {
            a {
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;
                
                &:hover {
                    color: $theme-color;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $theme-color 0%, $theme-color 100%);
                }
            }
        }

        p {
            margin-bottom: 30px;
            margin-top: 10px;
        }

        .theme-btn {
            width: 100%;
            background-color: rgba(239, 237, 229, 1);
            border-radius: 8px;
            color: $header-color;

             &::before {
                background-color: $theme-color;
                border-radius: 8px;
             }

             &::after {
                 background-color: rgba(249, 77, 0, 0.3);
                 border-radius: 8px;
             }

             &:hover {
                color: $white;
             }
        }
    }
}

.service-section-3 {

    .section-title-area {

        .array-button {
            .array-prev {
                background-color: $white;
                @include transition;

                &:hover {
                    background-color: $theme-color;
                    border: 1px solid $theme-color;
                }
            }
        }
    }
}

.service-details-wrapper {
    .service-top-img {
        border-radius: 12px;

        img {
            @include imgw;
            border-radius: 12px;
        }
    }

    .service-details-content {
        margin-top: 30px;

        h3 {
            font-size: 32px;
            font-weight: 600;
            margin-top: 30px;
        }

        .service-list-items {
            display: flex;
            gap: 60px;
            margin-top: 30px;

            @include breakpoint (max-xl){
              flex-wrap: wrap;
              gap: 15px;
            }

            ul {
                li {
                    font-weight: 500;

                    i {
                        color: $theme-color;
                        margin-right: 10px;
                    }

                    &:not(:last-child){
                        margin-bottom: 15px;
                    }
                }
            }
        }

        .service-box-area {
          margin-top: 40px;

            .service-box-items {
              background-color: #F2F5F7;
              border-radius: 10px;
              padding: 30px 20px;

                .number {
                    width: 38px;
                    height: 38px;
                    line-height: 38px;
                    border-radius: 50%;
                    background-color: $theme-color;
                    color: $white;
                    font-size: 16px;
                    display: block;
                    text-align: center;
                  font-weight: 700;
                }

                h5 {
                    font-size: 18px;
                    font-weight: 500;
                    max-width: 155px;
                    margin-top: 20px;
                }

                p {
                  margin-top: 10px;
                }
            }
        }
    }

    .service-details-sidebar {
       margin-top: 30px;

        .sidebar-widget {
            padding: 40px 35px;
            border-radius: 10px;
            background-color: $white;
            margin-bottom: 30px;

            @include breakpoint (max-xxl) {
                padding: 30px;
            }

             .sideber-title {
                margin-bottom: 25px;

                h4 {
                    font-size: 24px;
                    font-weight: 500;
                    display: inline-block;

                    i {
                        color: $theme-color;
                        font-size: 16px;
                        margin-right: 7px;
                    }
                }
             }

            .project-infrom {
                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background-color: $bg-color;
                    padding: 14px 20px;
                    border-radius: 8px;
                    color: $header-color;
                    font-size: 16px;
                    font-weight: 500;

                    span {
                        color: $header-color;
                        font-size: 16px;
                        font-weight: 500;
                    }

                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                }
            }
        }

        .sidebar-widget-image {
            position: relative;

            img {
                @include imgw;
                border-radius: 8px;
            }

            .content {
                position: absolute;
                padding: 25px;
                bottom: 25px;
                left: 25px;
                right: 25px;

                @include breakpoint (max-xxl) {
                    bottom: 20px;
                    left: 20px;
                    right: 20px;
                    padding: 20px;
                }

                .icon {
                    font-size: 70px;
                    color: $white;
                    margin-bottom: 35px;
                }

                h3 {
                    margin-top: 15px;
                    color: $white;
                    font-size: 32px;
                    font-weight: 600;

                    @include breakpoint (max-xxl) {
                        font-size: 24px;
                    }
                }

                .theme-btn {
                    margin-top: 30px;
                }
            }

            .white-logo {
                position: absolute;
                top: 50px;
                left: 50px;
            }
        }

        .service-list-item {
            li {
              font-size: 16px;
              font-weight: 600;
              font-family: $heading-font;

              &:not(:last-child){
                margin-bottom: 10px;
              }

              a {
                color: $header-color;
                @include flex;
                justify-content: space-between;
                background-color: $bg-color;
                padding: 20px 24px;
                line-height: 1;
                border-radius: 8px;

                &:hover {
                  background-color: $theme-color;
                  color: $white;
                }
              }
            }
        }
    }
}


.service-section-3 {

    .service-slider-3 {
        margin-left: -50px;
        margin-right: -50px;

        @include breakpoint (max-xxl) {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

.service-wrapper-4 {

    .service-left-content {

        .text {
            max-width: 299px;
            margin-top: 15px;
            margin-bottom: 30px;
        }
    }

    .service-card-items-4 {
        background-color: $white;
        border-radius: 8px;
        padding: 30px;
        position: relative;

         @include breakpoint (max-xxl) {
            padding: 20px;
        }

        @include breakpoint (max-lg) {
            padding: 30px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $theme-color;
            border-radius: 10px;
            transform: scale(0.5);
            opacity: 0;
            z-index: 0;
            transition: all 0.4s ease-in-out;
        }

        .icon {
            width: 80px;
            height: 80px;
            line-height: 80px;
            text-align: center;
            background-color: #EFEDE5;
            border-radius: 100px;
            position: relative;
            overflow: hidden;
            margin-bottom: 20px;
        }

        .content {

            h3 {
                @include breakpoint (max-xxl) {
                    font-size: 20px;
                }

                a {
                    background-position: 0 95%;
                    background-repeat: no-repeat;
                    background-size: 0% 2px;
                    display: inline;
                    
                    &:hover {
                        color: $theme-color;
                        background-size: 100% 2px;
                        background-image: linear-gradient(180deg, $theme-color 0%, $theme-color 100%);
                    }
                }
            }

            p {
                margin-top: 10px;
                max-width: 485px;
            }
        }

        &:hover {

            &::before {
                transform: scale(1);
                opacity: 1;
            }

            .icon {
                position: relative;
                z-index: 999;

                img {
                    position: relative;
                    z-index: 999;
                    animation: jello 1s;
                }
            }

            .content {
                h3 {
                    color: $white;
                    position: relative;
                    z-index: 999;

                    a {
                       color: $white;
                    }
                }

                p {
                    color: $white;
                    position: relative;
                    z-index: 999;
                }
            }
        }
    }
}