
:root {
    
    --body: #fff;
    --black: #000;
    --white: #fff;
    --theme: #c72020;
    --header: #0B0D17;
    --text: #534F5A;
    --border: #02060A;
    --bg: #EFEDE5;
    --bg2: #0F172A;
    --box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.13);
}

// Theme Color - Defualt Colors
$body-bg: var(--body);
$black: var(--black);
$white: var(--white);
$theme-color: var(--theme);
$text-color: var(--text);
$header-color: var(--header);
$border-color: var(--border);
$bg-color: var(--bg);
$bg-color-2: var(--bg2);
$shadow: var(--box-shadow);